
/* Entire Document */

* {
  margin: 0px auto;
}

/* Header */

header {
  background-color: rgb(146, 185, 185);
  font-size: 20px;
  padding: 20px;
  margin-bottom: 75px;
}

/* Body */

h2 {
  max-width: 900px;
  text-align: center;
  font-size: 40px;
}

h3 {
  font-size: 25px;
  max-width: 200px;
  margin: auto;
  padding: 15px;
}

p {
  max-width: 900px;
  text-align: center;
  font-size: 18px;
}

section {
  margin: 0px auto;
  padding: 10px;
  max-width: 900px;
}

section img {
  max-width: 225px;
  max-height: 225px;
  min-width: 225px;
  margin: 20px;
  padding: 10px;
  border: 1px dashed blue;
}

/* Complete State */

#complete {
  max-width: 900px;
  margin: 0px auto;
  visibility: hidden;
}

#myChart {
  margin: 0px auto;
}
